#home-container{
    display: flex;


    #feed-posts{
        width: 70%;
        padding: 10px;
    }

         #user-friends{
        padding: 10px;
        width: 30%;
        border-left: 1px solid black;
        height: 100%;

         }

}